@using TABS.Data
@inject NavigationManager MyNavigationManager
@inject Global Global

@*
    Renders a list of Modules. Clicking a list item will redirect the user to the Module's details page.
*@


<div class="list-container">
    <AntList Bordered DataSource="@Modules" Size="small" Class="list">
        <ChildContent Context="item">
            <ListItem class="list-item" OnClick="() => OnModuleClick(item)">
                <div class="list-item-content">
                    <p class="list-item-title">@item["Name"]</p>
                    <div class="list-item-body">
                        <p class="list-item-last-updated">@Localizer["LastUpdated"]: @item["LastUpdated"]</p>
                        <div>
                            @if (((int)item["StatusFlags"]) == 0)
                            {
                                <Tag Class="@("ant-tag ant-tag-" + ModuleStatusTag.getDisplayColor(0))">@Localizer[ModuleStatusTag.getName(0)]</Tag>
                            }
                            else
                            {
                                foreach (int status in Enum.GetValues(typeof(ModuleStatusFlagEnum)))
                                {
                                    if ((((int)item["StatusFlags"]) & status) == status)
                                    {
                                        <Tag Class="@("ant-tag ant-tag-" + ModuleStatusTag.getDisplayColor(status))">@Localizer[ModuleStatusTag.getName(status)]</Tag>
                                    }
                                }
                            }

                            @if ((bool)item["IsPinned"])
                            {
                                <Tag Class="ant-tag ant-tag-purple">@Localizer["Featured"]</Tag>
                            }

                        </div>
                    </div>
                </div>
            </ListItem>
        </ChildContent>
    </AntList>
</div>


@code {
    [Parameter]
    public List<Dictionary<string, object>> Modules { get; set; }

    [Parameter]
    public Application App { get; set;  }

    [Inject]
    public IStringLocalizer<App> Localizer { get; set; }

    private void OnModuleClick(Dictionary<string, object> item)
    {
        MyNavigationManager.NavigateTo(Global.GetModuleDetailsURL(App.ShortID, (string)item["RelativeURL"]));
    }
}
